/* add home page styles here */
/* .shell {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
} */

body {
    align-items: flex-start;
    background-color: #0e0017;
    color: #e38f82;
    display: flex;
    text-align: center;
}

main {
    align-items: middle;
    max-width: 100vw;
    vertical-align: middle;
}

div.shells {
    align-items: flex-start;
    display: flex;
    max-width: 100vw;
}

.feedback {
    margin-top: 1em;
    margin-bottom: 1em;
}

.stats {

}

p {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

#shell-1, #shell-2, #shell-3 {
    text-align: center;
}

.spacer {
    width: 11vw;
}

#shell-1-img, #shell-2-img, #shell-3-img {
    margin-bottom: 0px;
    margin-top: 80px;
    max-width: 26vw;
}

#button-1, #button-2, #button-3 {
    display: inline-block;
    margin: auto;
}

.shellUp {
    transform: translateY(-100px);
}

.ball {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
    visibility: hidden;
    margin: 0px auto 100px;
}

.reveal {
    visibility: visible;
    transform: translateY(-80px)
}
